langchain
langchain-core
langchain-community
langgraph
langchain-openai
langchain-google-genai
langchain-groq
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests
langchain-huggingface
transformers
